<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../build/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:300,400,700&subset=latin-ext">
    <title>About</title>
</head>
<body>
<section class="top-part">
    <h1 class="top-part__head top-part__head--form">TOP PART</h1>
</section>
<section class="main-part">
    <h1 class="event__head-primary event__head-primary--about">Отложенные на 24 часа</h1>
    <nav class="event__nav ">
        <ul class="event__list event__list--about">
            <li class="event__list__item">
                <a href="#" class="item-link">
                    <img src="build/images/home.png" class="item-link__icon item-link__icon--form" alt="home">
                    <span class="item-link__text item-link__text--product">Шопинг-клуб</span>
                </a>
            </li>
            <li class="event__nav__list__item">
                <a href="#" class="item-link ">
                    <i class="fa fa-angle-right item-link__icon item-link__icon--fa" aria-hidden="true"></i>
                    <span class="item-link__text item-link__text--product-second item-link__text--active">Отложенные на 24 часа </span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="product-block">
        <div class="about-product">
            <div class="about-product__image-block">
                <img src="build/images/Bitmap (2).png " alt="" class="image-phone">
                <span class="price">11 999 <span class="price-grn">грн</span></span>
                <button class="button-buy">КУПИТЬ</button>
            </div>
            <div class="about-product__description description">
                <p class="description__head">Apple Silicone Case Sea Blue для iPhone 6s</p>
                <p class="description__text">Стильная и компактная новинка от компании Apple - iPhone 7,
                    создан на лучших чертах предыдущих поколений, впечатляет мощной технологической наполненностью,
                    совершенным дизайном и новыми возможностями камеры.
                    В iPhone 7 собраны самые последние технологические инновации и улучшения.
                </p>
                <a href="#" class="description-link">Смотреть товар</a>
            </div>
            <a href="#" class="about-product__cancel">
                <img src="build/images/Path Copy 3.png" alt="" class="about-product__cancel-image">
            </a>
        </div>
        <div class="about-product">
            <div class="about-product__image-block">
                <img src="build/images/Bitmap (1).png " alt="" class="image-phone">
                <span class="price">12 471 <span class="price-grn">грн</span></span>
                <button class="button-buy">КУПИТЬ</button>
            </div>
            <div class="about-product__description description">
                <p class="description__head">Apple Silicone Case Sea Blue для iPhone 6s</p>
                <p class="description__text">Кнопка Home предназначена для более чувствительных к давлению нажатий,
                    отвечает точно и прочна для длительного использования.
                </p>
                <p class="description__text description__text--second">
                    Камера с разрешением 12 Мп оснащена целым рядом функций,
                    которые превращают обычное фото в настоящее произведение искусства.
                    Диафрагма ƒ/1.8 и объектив с 6-ю линзами помогут в создании качественных
                </p>
                <a href="#" class="description-link">Смотреть товар</a>
            </div>
            <a href="#" class="about-product__cancel">
                <img src="build/images/Path Copy 3.png" alt="" class="about-product__cancel-image">
            </a>
        </div>
    </div>
</section>
<section class="bottom-part bottom-part--about">
    <h1 class="bottom-part__head">Bottom part</h1>
</section>
</body>
</html>