<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="../../build/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:300,400,700&subset=latin-ext">
</head>
<body>
<section class="top-part">
    <h1 class="top-part__head top-part__head--form">TOP PART</h1>
</section>
<section class="main-part">
    <h1 class="event__head-primary event__head-primary--sent">Сравнение товаров</h1>
    <nav class="event__nav ">
        <ul class="event__list event__list--products">
            <li class="event__list__item">
                <a href="#" class="item-link">
                    <img src="build/images/home.png" class="item-link__icon item-link__icon--form" alt="home">
                    <span class="item-link__text item-link__text--product">Шопинг-клуб</span>
                </a>
            </li>
            <li class="event__nav__list__item">
                <a href="#" class="item-link ">
                    <i class="fa fa-angle-right item-link__icon item-link__icon--fa" aria-hidden="true"></i>
                    <span class="item-link__text item-link__text--product-second item-link__text--active">Сравнение товаров </span>
                </a>
            </li>
        </ul>
    </nav>
    <table class="table-main">
        <tr>
            <th class="table-main__header">
                <span class="table-main__header-add">Всего добавлено товаров: 3</span>
                <span class="table-main__header-buy">Продолжить покупки</span>
            </th>
            <th class="table-main__header">
                <img src="build/images/Path Copy 3.png" alt="" class="table-main__header-cancel">
                <img src="build/images/Bitmap (2).png " alt="" class="table-main__header-phone">
                <p class="table-main__header-description">Apple Silicone Case Sea Blue для iPhone 6s</p>
            </th>
            <th class="table-main__header">
                <img src="build/images/Path Copy 3.png" alt="" class="table-main__header-cancel">
                <img src="build/images/Bitmap (1).png " alt="" class="table-main__header-phone">
                <p class="table-main__header-description">Apple Silicone Case Sea Blue для iPhone 6s</p>
            </th>
            <th class="table-main__header">
                <img src="build/images/Path Copy 3.png" alt="" class="table-main__header-cancel">
                <img src="build/images/Bitmap.png" alt="" class="table-main__header-phone">
                <p class="table-main__header-description">Apple Silicone Case Sea Blue для iPhone 6s</p>
            </th>
        </tr>

        <tr>
            <td class="table-main__content"></td>
            <td class="table-main__content table-main__content--button">
                <span class="price">11 999 <span class="price-grn">грн</span></span>
                <button class="button-buy">КУПИТЬ</button>
            </td>
            <td class="table-main__content table-main__content--button">
                <span class="price">12 471 <span class="price-grn">грн</span></span>
                <button class="button-buy">КУПИТЬ</button>
            </td>
            <td class="table-main__content table-main__content--button">
                <span class="price">9 543 <span class="price-grn">грн</span></span>
                <button class="button-buy">КУПИТЬ</button>
            </td>
        </tr>
        <tr>
            <td class="table-main__content table-main__content--description">Количество SIM-карт:</td>
            <td class="table-main__content table-main__content--params">2</td>
            <td class="table-main__content table-main__content--params">2</td>
            <td class="table-main__content table-main__content--params">1</td>
        </tr>
        <tr>
            <td class="table-main__content table-main__content--description">Тип SIM-карты:</td>
            <td class="table-main__content table-main__content--params">2</td>
            <td class="table-main__content table-main__content--params">2</td>
            <td class="table-main__content table-main__content--params">1</td>
        </tr>
        <tr>
            <td class="table-main__content table-main__content--description">Диагональ дисплея:</td>
            <td class="table-main__content table-main__content--params">2</td>
            <td class="table-main__content table-main__content--params">2</td>
            <td class="table-main__content table-main__content--params">1</td>
        </tr>
        <tr>
            <td class="table-main__content table-main__content--description">Разрешение экрана:</td>
            <td class="table-main__content table-main__content--params">2</td>
            <td class="table-main__content table-main__content--params">2</td>
            <td class="table-main__content table-main__content--params">1</td>
        </tr>
        <tr>
            <td class="table-main__content table-main__content--description">Основная камера:</td>
            <td class="table-main__content table-main__content--params">2</td>
            <td class="table-main__content table-main__content--params">2</td>
            <td class="table-main__content table-main__content--params">1</td>
        </tr>
        <tr>
            <td class="table-main__content table-main__content--description">Музыкальный плеер:</td>
            <td class="table-main__content table-main__content--params">2</td>
            <td class="table-main__content table-main__content--params">2</td>
            <td class="table-main__content table-main__content--params">1</td>
        </tr>
        <tr>
            <td class="table-main__content table-main__content--description">FM-радио:</td>
            <td class="table-main__content table-main__content--params">2</td>
            <td class="table-main__content table-main__content--params">2</td>
            <td class="table-main__content table-main__content--params">1</td>
        </tr>
        <tr>
            <td class="table-main__content table-main__content--description">Емкость аккумулятора:</td>
            <td class="table-main__content table-main__content--params">2</td>
            <td class="table-main__content table-main__content--params">2</td>
            <td class="table-main__content table-main__content--params">1</td>
        </tr>
        <tr>
            <td class="table-main__content table-main__content--description">Размеры:</td>
            <td class="table-main__content table-main__content--params">2</td>
            <td class="table-main__content table-main__content--params">2</td>
            <td class="table-main__content table-main__content--params">1</td>
        </tr>
        <tr>
            <td class="table-main__content table-main__content--description">Вес:</td>
            <td class="table-main__content table-main__content--params">2</td>
            <td class="table-main__content table-main__content--params">2</td>
            <td class="table-main__content table-main__content--params">1</td>
        </tr>
        <tr>
            <td class="table-main__content table-main__content--description">Гарантия:</td>
            <td class="table-main__content table-main__content--params">2</td>
            <td class="table-main__content table-main__content--params">2</td>
            <td class="table-main__content table-main__content--params">1</td>
        </tr>
    </table>
</section>
<section class="bottom-part bottom-part--products">
    <h1 class="bottom-part__head">Bottom part</h1>
</section>
</body>
</html>